body{
	margin: : 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;	
}

header{
	color: #252525;
	background-color: #B4B4B4;
	background-image: url("../images/op.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2em;
	text-align: center;
	
}
.main{
	display: flex;
	width: 100%
}
.sidebar{
	background-color: #6E6E6E;

	order: 1;
	flex: 1;
	padding: 1.5em
	}

.content {
	background-color: #B4B4B4;
	order: 1;
	flex: 5;
	padding: 1.5em
}